version: "3.9"
services: 
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: jobtracker
    ports:
      - 5432:5432
    volumes: 
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes: #provide volume
  pgdata:
